# Python output

In [1]:
# Python is a case sensitive language
print('Hello World')

Hello World

In [2]:
print('salman khan')

salman khan

In [3]:
print(salman khan)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-3-0713073d8d88>, line 1)

In [4]:
print(7)

7

In [5]:
print(7.7)

7.7

In [6]:
print(True)

True

In [7]:
print('Hello',1,4.5,True)

Hello 1 4.5 True

In [8]:
print('Hello',1,4.5,True,sep='/')

Hello/1/4.5/True

In [9]:
print('hello')
print('world')

hello
world

In [10]:
print('hello',end='-')
print('world')

hello-world

# Data Types

In [11]:
# Integer
print(8)
# 1*10^308
print(1e309)

8
inf

In [12]:
# Decimal/Float
print(8.55)
print(1.7e309)

8.55
inf

In [13]:
# Boolean
print(True)
print(False)

True
False

In [14]:
# Text/String
print('Hello World')

Hello World

In [15]:
# complex
print(5+6j)

(5+6j)

In [16]:
# List-> C-> Array
print([1,2,3,4,5])

[1, 2, 3, 4, 5]

In [17]:
# Tuple
print((1,2,3,4,5))

(1, 2, 3, 4, 5)

In [18]:
# Sets
print({1,2,3,4,5})

{1, 2, 3, 4, 5}

In [19]:
# Dictionary
print({'name':'Nitish','gender':'Male','weight':70})

{'name': 'Nitish', 'gender': 'Male', 'weight': 70}

In [20]:
# type
type([1,2,3])

list

# Variables

In [21]:
# Static Vs Dynamic Typing
# Static Vs Dynamic Binding
# stylish declaration techniques

In [22]:
# C/C++
name = 'nitish'
print(name)

a = 5
b = 6

print(a + b)

nitish
11

In [24]:
# Dynamic Typing
a = 5
# Static Typing
# int a = 5

In [26]:
# Dynamic Binding
a = 5
print(a)
a = 'nitish'
print(a)

# Static Binding
# int a = 5

5
nitish

In [27]:
a = 1
b = 2
c = 3
print(a,b,c)

1 2 3

In [28]:
a,b,c = 1,2,3
print(a,b,c)

1 2 3

In [29]:
a=b=c= 5
print(a,b,c)

5 5 5

# Comments

In [30]:
# this is a comment
# second line
a = 4
b = 6 # like this
# second comment
print(a+b)

10

# Keywords & Indentifiers

In [31]:
# Identifiers
# You can't start with a digit
name1 = 'Nitish'
print(name1)
# You can use special chars -> _
_ = 'ntiish'
print(_)
# identiers can not be keyword

Nitish
ntiish

# User Input

In [32]:
# Static Vs Dynamic
input('Enter Email')

Enter Emailjs@gmail.com

'js@gmail.com'

In [33]:
# take input from users and store them in a variable
fnum = int(input('enter first number'))
snum = int(input('enter second number'))
#print(type(fnum),type(snum))
# add the 2 variables
result = fnum + snum
# print the result
print(result)
print(type(fnum))

enter first number12
enter second number22
34
<class 'int'>

# Type conversion

In [34]:
# Implicit Vs Explicit
print(5+5.6)
print(type(5),type(5.6))

print(4 + '4')

10.6
<class 'int'> <class 'float'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [35]:
# Explicit
# str -> int
#int(4+5j)

# int to str
str(5)

# float
float(4)

4.0

# Literals

In [36]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [37]:
# binary
x = 3.14j
print(x.imag)

3.14

In [38]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.
😀😆🤣
raw \n string

In [39]:
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [40]:
k = None
a = 5
b = 6
print('Program exe')

Program exe