# Lists
* What are Lists?
* Lists Vs Arrays
* Characterstics of a List
* How to create a list
* Access items from a List
* Editing items in a List
* Deleting items from a List
* Operations on Lists
* Functions on Lists

What are Lists?

List is a data type where you can store multiple items under 1 name. More technically, lists act like dynamic arrays which means you can add more items on the fly.

L=[20,'hello',3.5, true]

# Array Vs Lists
* Fixed Vs Dynamic Size
* Convenience -> Hetrogeneous
* Speed of Execution
* Memory

In [1]:
L = [1,2,3]

print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))
print(id(1))
print(id(2))
print(id(3))

134673026737728
10750856
10750888
10750920
10750856
10750888
10750920

# Characterstics of a List
* Ordered
* Changeble/Mutable
* Hetrogeneous
* Can have duplicates
are dynamic
* can be nested
* items can be accessed
* can contain any kind of objects in python

In [2]:
L = [1,2,3,1]
L1 = [3,2,1]

L == L1

False

In [3]:
# Creating a List
# Empty
print([])
# 1D -> Homo
print([1,2,3,4,5])
# 2D
print([1,2,3,[4,5]])
# 3D
print([[[1,2],[3,4]],[[5,6],[7,8]]])
# Hetrogenous
print([1,True,5.6,5+6j,'Hello'])
# Using Type conversion
print(list('hello'))

[]
[1, 2, 3, 4, 5]
[1, 2, 3, [4, 5]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, 5.6, (5+6j), 'Hello']
['h', 'e', 'l', 'l', 'o']

# Accessing Items from a List

In [4]:
# Indexing
L = [[[1,2],[3,4]],[[5,6],[7,8]]]
#positive
#print(L[0][0][1])

# Slicing
L = [1,2,3,4,5,6]

print(L[::-1])

[6, 5, 4, 3, 2, 1]

# Adding items to a list

In [5]:
# append
L = [1,2,3,4,5]
L.append(True)
print(L)

[1, 2, 3, 4, 5, True]

In [6]:
# extend
L = [1,2,3,4,5]
L.extend([6,7,8])
print(L)

[1, 2, 3, 4, 5, 6, 7, 8]

In [7]:
L = [1,2,3,4,5]
L.append([6,7,8])
print(L)

[1, 2, 3, 4, 5, [6, 7, 8]]

In [8]:
L = [1,2,3,4,5]
L.extend('delhi')
print(L)

[1, 2, 3, 4, 5, 'd', 'e', 'l', 'h', 'i']

In [9]:
# insert
L = [1,2,3,4,5]

L.insert(1,100)
print(L)

[1, 100, 2, 3, 4, 5]

# Editing items in a list

In [10]:
L = [1,2,3,4,5]

# editing with indexing
L[-1] = 500

# editing with slicing
L[1:4] = [200,300,400]

print(L)

[1, 200, 300, 400, 500]

# Deleting items from a list

In [11]:
# del
L = [1,2,3,4,5]

# indexing
del L[-1]

# slicing
del L[1:3]
print(L)

[1, 4]

In [12]:
# remove

L = [1,2,3,4,5]

L.remove(5)

print(L)

[1, 2, 3, 4]

In [13]:
# pop
L = [1,2,3,4,5]

L.pop()

print(L)

[1, 2, 3, 4]

In [14]:
# clear
L = [1,2,3,4,5]

L.clear()

print(L)

[]

# operations on lists
* Arithmetic
* Membership
* Loop

In [15]:
# Arithmetic (+ ,*)

L1 = [1,2,3,4]
L2 = [5,6,7,8]

# Concatenation/Merge
print(L1 + L2)

[1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
print(L1*3)

[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

In [17]:
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]

print(5 not in L1)
print([5,6] in L2)

False
True

In [18]:
# Loops
L1 = [1,2,3,4,5]
L2 = [1,2,3,4,[5,6]]
L3 = [[[1,2],[3,4]],[[5,6],[7,8]]]

for i in L3:
  print(i)

[[1, 2], [3, 4]]
[[5, 6], [7, 8]]

# List Functions

In [19]:
# len/min/max/sorted
L = [2,1,5,7,0]

print(len(L))
print(min(L))
print(max(L))
print(sorted(L,reverse=True))

5
0
7
[7, 5, 2, 1, 0]

In [20]:
# count
L = [1,2,1,3,4,1,5]
L.count(5)

1

In [21]:
# index
L = [1,2,1,3,4,1,5]
L.index(1)

0

In [22]:
# reverse
L = [2,1,5,7,0]
# permanently reverses the list
L.reverse()
print(L)

[0, 7, 5, 1, 2]

In [23]:
# sort (vs sorted)
L = [2,1,5,7,0]
print(L)
print(sorted(L))
print(L)
L.sort()
print(L)

[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]
[2, 1, 5, 7, 0]
[0, 1, 2, 5, 7]

In [24]:
# copy -> shallow
L = [2,1,5,7,0]
print(L)
print(id(L))
L1 = L.copy()
print(L1)
print(id(L1))

[2, 1, 5, 7, 0]
134673036011200
[2, 1, 5, 7, 0]
134673037494400

# List Comprehension

List Comprehension provides a concise way of creating lists.

newlist = [expression for item in iterable if condition == True]

# Advantages of List Comprehension

* More time-efficient and space-efficient than loops.
* Require fewer lines of code.
* Transforms iterative statement into a formula.

In [25]:
# Add 1 to 10 numbers to a list
L = []

for i in range(1,11):
  L.append(i)

print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [26]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [27]:
# scalar multiplication on a vector
v = [2,3,4]
s = -3
# [-6,-9,-12]

[s*i for i in v]

[-6, -9, -12]

In [28]:
# Add squares
L = [1,2,3,4,5]

[i**2 for i in L]

[1, 4, 9, 16, 25]

In [29]:
# Print all numbers divisible by 5 in the range of 1 to 50

[i for i in range(1,51) if i%5 == 0]

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [30]:
# find languages which start with letter p
languages = ['java','python','php','c','javascript']

[language for language in languages if language.startswith('p')]

['python', 'php']

In [31]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exists in basket and also starts with 'a'

[fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]

['apple']

In [32]:
# Print a (3,3) matrix using list comprehension -> Nested List comprehension
[[i*j for i in range(1,4)] for j in range(1,4)]

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [33]:
# cartesian products -> List comprehension on 2 lists together
L1 = [1,2,3,4]
L2 = [5,6,7,8]

[i*j for i in L1 for j in L2]

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

# 2 ways to traverse a list
* itemwise
* indexwise

In [34]:
# itemwise
L = [1,2,3,4]

for i in L:
  print(i)

1
2
3
4

In [35]:
# indexwise
L = [1,2,3,4]

for i in range(0,len(L)):
  print(L[i])

1
2
3
4

# Zip
The zip() function returns a zip object, which is an iterator of tuples where the first item in each passed iterator is paired together, and then the second item in each passed iterator are paired together.

If the passed iterators have different lengths, the iterator with the least items decides the length of the new iterator

In [36]:
# Write a program to add items of 2 lists indexwise

L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

list(zip(L1,L2))

[i+j for i,j in zip(L1,L2)]

[0, 0, 0, 0]

In [37]:
L = [1,2,print,type,input]

print(L)

[1, 2, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7a7c13406090>>]

## Disadvantages of Python Lists

- Slow
- Risky usage
- eats up more memory

In [38]:
a = [1,2,3]
b = a.copy()

print(a)
print(b)

a.append(4)
print(a)
print(b)

# lists are mutable

[1, 2, 3]
[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3]