# Operators in Python
* Arithmetic Operators
* Relational Operators
* Logical Operators
* Bitwise Operators
* Assignment Operators
* Membership Operators

In [1]:
# Arithmetric Operators
print(5+6)

print(5-6)

print(5*6)

print(5/2)

print(5//2)

print(5%2)

print(5**2)

11
-1
30
2.5
2
1
25

In [2]:
# Relational Operators
print(4>5)

print(4<5)

print(4>=4)

print(4<=4)

print(4==4)

print(4!=4)

False
True
True
True
True
False

In [3]:
# Logical Operators
print(1 and 0)

print(1 or 0)

print(not 1)

0
1
False

In [4]:
# Bitwise Operators

# bitwise and
print(2 & 3)

# bitwise or
print(2 | 3)

# bitwise xor
print(2 ^ 3)

print(~3)

print(4 >> 2)

print(5 << 2)

2
3
1
-4
1
20

In [5]:
# Assignment Operators

# =
# a = 2

a = 2

# a = a % 2
a %= 2

# a++ ++a

print(a)

0

In [6]:
# Membership Operators

# in/not in

print('D' not in 'Delhi')

print(1 in [2,3,4,5,6])

False
False

In [7]:
number = int(input('Enter a 3 digit number'))

# 345%10 -> 5
a = number%10

number = number//10

# 34%10 -> 4
b = number % 10

number = number//10
# 3 % 10 -> 3
c = number % 10

print(a + b + c)

Enter a 3 digit number33
6

# If-else in python

In [8]:
# login program and indentation
# email -> js@gmail.com
# password -> 1234

email = input('enter email')
password = input('enter password')

if email == 'js@gmail.com' and password == '1234':
  print('Welcome')
elif email == 'js@gmail.com' and password != '1234':
  # tell the user
  print('Incorrect password')
  password = input('enter password again')
  if password == '1234':
    print('Welcome,finally!')
  else:
    print('beta tumse na ho paayega!')
else:
  print('Not correct')

enter emailjs@gmail.com
enter password1234
Welcome

In [9]:
# min of 3 number

a = int(input('first num'))
b = int(input('second num'))
c = int(input('third num'))

if a<b and a<c:
  print('smallest is',a)
elif b<c:
  print('smallest is',b)
else:
  print('smallest is',c)

first num4
second num2
third num10
smallest is 2

In [10]:
# menu driven calculator
menu = input("""
Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
""")

if menu == '1':
  print('pin change')
elif menu == '2':
  print('balance')
else:
  print('exit')

Hi! how can I help you.
1. Enter 1 for pin change
2. Enter 2 for balance check
3. Enter 3 for withdrawl
4. Enter 4 for exit
2
balance

# Modules in Python
* Math
* Keywords
* Random
* datetime

In [11]:
# math
import math

math.sqrt(196)

14.0

In [12]:
# keyword
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [13]:
# random
import random
print(random.randint(1,100))

11

In [14]:
# datetime
import datetime
print(datetime.datetime.now())

2025-03-22 05:57:16.906189

# Loops in Python
* While Loop
* For Loop

In [16]:
number = int(input('enter the number'))

i = 1

while i<11:
  print(number,'*',i,'=',number * i)
  i += 1

enter the number11
11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110

In [17]:
# while loop with else

x = 1

while x < 3:
  print(x)
  x += 1

else:
  print('limit crossed')

1
2
limit crossed

In [18]:
# For loop demo

for i in {1,2,3,4,5}:
  print(i)

1
2
3
4
5

In [19]:
# Nested Loops

for i in range(1,5):
  for j in range(1,5):
    print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [20]:
rows = int(input('enter number of rows'))

for i in range(1,rows+1):
  for j in range(1,i+1):
    print('*',end='')
  print()

enter number of rows10
*
**
***
****
*****
******
*******
********
*********
**********

# Loop control statement

In [21]:
# Break
for i in range(1,10):
  if i == 5:
    break
  print(i)

1
2
3
4

In [22]:
lower = int(input('enter lower range'))
upper = int(input('enter upper range'))

for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j == 0:
      break
  else:
    print(i)

enter lower range12
enter upper range120
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113

In [23]:
# Continue
for i in range(1,10):
  if i == 5:
    continue
  print(i)

1
2
3
4
6
7
8
9

In [24]:
for i in range(1,10):
  pass