# Tuples
A tuple in Python is similar to a list. The difference between the two is that we cannot change the elements of a tuple once it is assigned whereas we can change the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characterstics

* Ordered
* Unchangeble
* Allows duplicate

In [1]:
# Creating Tuples
# empty
t1 = ()
print(t1)
# create a tuple with a single item
t2 = ('hello',)
print(t2)
print(type(t2))
# homo
t3 = (1,2,3,4)
print(t3)
# hetro
t4 = (1,2.5,True,[1,2,3])
print(t4)
# tuple
t5 = (1,2,3,(4,5))
print(t5)
# using type conversion
t6 = tuple('hello')
print(t6)

()
('hello',)
<class 'tuple'>
(1, 2, 3, 4)
(1, 2.5, True, [1, 2, 3])
(1, 2, 3, (4, 5))
('h', 'e', 'l', 'l', 'o')

# Accessing Items
* Indexing
* Slicing

In [2]:
print(t3)
print(t3[0])
print(t3[-1])

(1, 2, 3, 4)
1
4

In [3]:
t5[-1][0]

4

# Editing items

In [4]:
print(t3)
t3[0] = 100
# immutable just like strings

(1, 2, 3, 4)

TypeError: 'tuple' object does not support item assignment

In [5]:
# Adding items
print(t3)
# not possible

(1, 2, 3, 4)

In [6]:
# Deleting items
print(t3)
del t3
print(t3)

(1, 2, 3, 4)

NameError: name 't3' is not defined

In [7]:
t = (1,2,3,4,5)

t[-1:-4:-1]

(5, 4, 3)

In [8]:
print(t5)
del t5[-1]

(1, 2, 3, (4, 5))

TypeError: 'tuple' object doesn't support item deletion

# Operations on tuples

In [9]:
# + and *
t1 = (1,2,3,4)
t2 = (5,6,7,8)

print(t1 + t2)

print(t1*3)
# membership
1 in t1
# iteration
for i in t1:
  print(i)

(1, 2, 3, 4, 5, 6, 7, 8)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
1
2
3
4

In [10]:
t = (1,2,3,4)
len(t)

4

In [11]:
sum(t)

10

In [12]:
min(t)

1

In [13]:
max(t)

4

In [14]:
sorted(t,reverse=True)

[4, 3, 2, 1]

In [15]:
# count

t = (1,2,3,4,5)

t.count(50)

0

In [16]:
# index
t.index(50)

ValueError: tuple.index(x): x not in tuple

# Difference between Lists and Tuples
* Syntax
* Mutability
* Speed
* Memory
* Built in functionality
* Error prone
* Usability

In [17]:
import time

L = list(range(100000000))
T = tuple(range(100000000))

start = time.time()
for i in L:
  i*5
print('List time',time.time()-start)

start = time.time()
for i in T:
  i*5
print('Tuple time',time.time()-start)

List time 9.654058933258057
Tuple time 6.398581504821777

In [18]:
import sys

L = list(range(1000))
T = tuple(range(1000))

print('List size',sys.getsizeof(L))
print('Tuple size',sys.getsizeof(T))

List size 8056
Tuple size 8040

In [19]:
a = [1,2,3]
b = a

a.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [20]:
a = (1,2,3)
b = a

a = a + (4,)
print(a)
print(b)

(1, 2, 3, 4)
(1, 2, 3)

In [21]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [22]:
a,b = (1,2,3)
print(a,b)

ValueError: too many values to unpack (expected 2)

In [23]:
a = 1
b = 2
a,b = b,a

print(a,b)

2 1

In [24]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [25]:
# zipping tuples
a = (1,2,3,4)
b = (5,6,7,8)

tuple(zip(a,b))

((1, 5), (2, 6), (3, 7), (4, 8))